Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [1]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')
with engine.connect() as con:
    rs = con.execute("""SELECT name, sub.total_revenue
                        FROM
                        (
                        SELECT
                        name,
                        SUM(CASE WHEN b.memid=0 THEN slots*guestcost
                             ELSE slots*membercost END) AS total_revenue
                        FROM 
                        Bookings AS b
                        LEFT JOIN Facilities AS f
                        ON b.facid = f.facid
                        GROUP BY name
                        ) AS sub
                        WHERE sub.total_revenue < 1000
                        ORDER BY sub.total_revenue""")
    rows = rs.fetchall()
    df1 = pd.DataFrame(rows)
    print(df1)

               0    1
0   Table Tennis  180
1  Snooker Table  240
2     Pool Table  270

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [2]:
engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')
with engine.connect() as con:
    rs = con.execute("""SELECT m1.memid, 
                    m1.surname, 
                    m1.firstname,
                    m2.surname AS surname_recommended,
                    m2.firstname AS firstname_recommended
                    FROM Members AS m1
                    LEFT JOIN Members AS m2
                    ON m1.recommendedby = m2.memid
                    ORDER BY surname_recommended, firstname_recommended""")
    rows = rs.fetchall()
    df1 = pd.DataFrame(rows)
    print(df1)

     0                  1          2         3          4
0    0              GUEST      GUEST      None       None
1    1              Smith     Darren      None       None
2    2              Smith      Tracy      None       None
3    3             Rownam        Tim      None       None
4    6              Tracy     Burton      None       None
5   13            Farrell     Jemima      None       None
6   28            Farrell      David      None       None
7   33         Tupperware   Hyacinth      None       None
8   37              Smith     Darren      None       None
9   24             Sarwin  Ramnaresh     Bader   Florence
10  22             Coplin       Joan     Baker    Timothy
11  20            Genting    Matthew   Butters     Gerald
12  16              Baker    Timothy   Farrell     Jemima
13  17             Pinker      David   Farrell     Jemima
14  27             Rumney  Henrietta   Genting    Matthew
15  26              Jones    Douglas     Jones      David
16   7               Dare      Nancy  Joplette     Janice
17  11              Jones      David  Joplette     Janice
18  35               Hunt       John   Purview  Millicent
19   8             Boothe        Tim    Rownam        Tim
20   4           Joplette     Janice     Smith     Darren
21   5            Butters     Gerald     Smith     Darren
22  10               Owen    Charles     Smith     Darren
23  14              Smith       Jack     Smith     Darren
24  21          Mackenzie       Anna     Smith     Darren
25  29  Worthington-Smyth      Henry     Smith      Tracy
26  30            Purview  Millicent     Smith      Tracy
27  36            Crumpet      Erica     Smith      Tracy
28  12              Baker       Anne  Stibbons     Ponder
29  15              Bader   Florence  Stibbons     Ponder
30   9           Stibbons     Ponder     Tracy     Burton

Q12: Find the facilities with their usage by member, but not guests

In [3]:
# IF here the usage means the number of bookings, please use the following code for Q12
engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')
with engine.connect() as con:
    rs = con.execute("""SELECT COUNT(bookid) As usage, f.facid, f.name
                    FROM Bookings AS b
                    LEFT JOIN Facilities AS f
                    ON b.facid=f.facid
                    LEFT JOIN Members AS m
                    ON b.memid=m.memid
                    WHERE b.memid!= 0
                    GROUP BY f.facid""")
    rows = rs.fetchall()
    df1 = pd.DataFrame(rows)
    print(df1)

     0  1                2
0  308  0   Tennis Court 1
1  276  1   Tennis Court 2
2  344  2  Badminton Court
3  385  3     Table Tennis
4  421  4   Massage Room 1
5   27  5   Massage Room 2
6  195  6     Squash Court
7  421  7    Snooker Table
8  783  8       Pool Table

Q13: Find the facilities usage by month, but not guests

In [4]:
engine = create_engine('sqlite:///sqlite_db_pythonsqlite.db')
with engine.connect() as con:
    rs = con.execute("""SELECT COUNT(b.bookid), name, strftime('%m', b.starttime) AS Month
                        FROM Bookings AS b
                        LEFT JOIN Facilities AS f
                        ON b.facid=f.facid
                        LEFT JOIN Members AS m
                        ON b.memid=m.memid
                        WHERE b.memid!= 0
                        GROUP BY month, b.facid""")
    rows = rs.fetchall()
    df1 = pd.DataFrame(rows)
    print(df1)

      0                1   2
0    65   Tennis Court 1  07
1    41   Tennis Court 2  07
2    51  Badminton Court  07
3    48     Table Tennis  07
4    77   Massage Room 1  07
5     4   Massage Room 2  07
6    23     Squash Court  07
7    68    Snooker Table  07
8   103       Pool Table  07
9   111   Tennis Court 1  08
10  109   Tennis Court 2  08
11  132  Badminton Court  08
12  143     Table Tennis  08
13  153   Massage Room 1  08
14    9   Massage Room 2  08
15   85     Squash Court  08
16  154    Snooker Table  08
17  272       Pool Table  08
18  132   Tennis Court 1  09
19  126   Tennis Court 2  09
20  161  Badminton Court  09
21  194     Table Tennis  09
22  191   Massage Room 1  09
23   14   Massage Room 2  09
24   87     Squash Court  09
25  199    Snooker Table  09
26  408       Pool Table  09